*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}



body {
	font-family: 'Open Sans', sans-serif;
}

.container {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.section-title{
	margin-bottom: 40px;
	text-align: center;
	text-transform: uppercase;

}

// nawigacja

nav {
	height: 60px;
	background-color: #ddd;
	text-align: center;

	.burger-icon {
		display: block;
		padding: 0 20px;
		margin-left: auto;
		line-height: 60px;
		background: none;
		border: none;
		font-size: 30px;
		transition: color 0.3s;
		cursor: pointer;
	}
	.burger-icon:hover {
		color: royalblue;
	}

	.nav-item {
		display: none;
	}
}

// header
header {
	.header-img {
		position: relative;
		height: 400px;
		background-image: url('/projekt/responsywna/img/landscape-small.jpg');
		background-position: center;
		background-size: cover;
	}

	.header-text {
		position: absolute;
		top: 50%;
		left: 50%;
		color: white;
		transform: translate(-50%, -50%);
		font-size: 22px;

		h1 {
			text-shadow: 3px 3px 5px #000;
			margin-bottom: 10px;

			span {
				text-transform: uppercase;
				color: #09f;
			}
		}

		p {
			letter-spacing: 2px;
		}
	}

	.header-shadow {
		height: 100%;
		background: rgba(0, 0, 0, 0.6);
	}
}

// main

main{
	.about-us{

		margin: 40px auto;

		p{
			padding-bottom: 10px;
		}
	}

	.products{
		margin: 60px auto;

		.product{
			position: relative;
			height: 300px;
			background-size: cover;
			background-position: center;
			text-align: center;
		}

		.first-product{
			background-image: url('/projekt/responsywna/img/chilidren-small.jpg');
		}

		.second-product{
			background-image: url('/projekt/responsywna/img/woman-small.jpg');

		}

		.third-product{
			background-image: url('/projekt/responsywna/img/keyboard-small.jpg');
		}

		.fourth-product{
			background-image: url('/projekt/responsywna/img/laptop-small.jpg');
		}
	}
}

@media (min-width: 768px) {
	nav {
		.burger-icon {
			display: none;
		}
		.nav-item {
			display: block;
		}

		a {
			padding: 0 40px;
			color: #333;
			text-transform: uppercase;
			line-height: 60px;
			font-weight: bold;
			text-decoration: none;
			transition: color 0.3s;
		}

		a:hover {
			color: royalblue;
		}
	}
}
