*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.header {
	.header-img {
		position: relative;
		height: 300px;
		width: auto;
		background-image: url('/projekt/box/img/góry.jpg');
		background-position: center;
		background-size: cover;

		.header-text {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			color: white;

			.header-title {
				letter-spacing: 2px;
				margin-bottom: 10px;
			}

			.header-description {
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}

		.header-shadow {
			height: 100%;
			background: rgba(0, 0, 0, 0.3);
		}
	}
}

.nav {
	.nav-space {
		height: 50px;
		line-height: 50px;
		text-align: center;
		background-color: #333;

		.nav-item {
			.nav-link {
				padding: 0 50px;
				letter-spacing: 1px;
				font-weight: bold;
				text-transform: uppercase;
				text-decoration: none;
				color: white;
				transition: color 0.3s;
			}

			.nav-link:hover {
				color: royalblue;
			}
		}
	}
}

.main {
	margin: 50px 70px;
	text-align: center;


		h2 {
			margin-bottom: 60px;
			text-transform: uppercase;
		}

	.main-img {
		position: relative;
		height: 300px;
		background-attachment: fixed;
		background-image: url('/projekt/box/img/kawa.jpg');
		background-position: center;
		background-size: cover;
		border-top-left-radius: 50px;
		border-bottom-right-radius: 50px;
		overflow: hidden;

		.main-shadow {
			position: absolute;
			bottom: 0;
			height: 100px;
			width: 100%;
			background: rgba(0, 0, 0, 0.8);

			.main-text {
				padding: 20px;
				color: white;

				h2{
					margin-bottom: 10px;
				}
			}
		}
	}
}

.about-us-box {
	position: relative;
    margin: 40px 0;
	height: 300px;
	background-attachment: fixed;
	background-position: center;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 50px;
	overflow: hidden;
}



.middle {
	background-image: url('/projekt/box/img/kawa.jpg');
}

.about-us-bg{
    position: absolute;
    bottom: 0;
    height: 45%;
    width: 100%;
    background-color: rgba(0,0,0,.8);
}

.about-us-text {
	position: absolute;
    padding: 20px 40px;
	bottom: 20px;
	text-align: center;
	color: #fff;

}
.about-us-text h3{
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
}