* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #333;
}
button {
	position: absolute;
	width: 120px;
	top: 50px;
	transform: translateX(-50%);
	padding: 10px 30px;
	background: none;
	color: #fff;
	font-weight: bold;
	border: 3px solid;
	border-radius: 5px;
	letter-spacing: 2px;
	text-transform: uppercase;
	cursor: pointer;
}

.btn-zoom:hover {
	background-color: #fff;
	color: black;
	transition: 0.5s;
}
.btn-move:hover {
	background-color: #fff;
	color: black;
	transition: 0.5s;
}
.btn-color:hover {
	background-color: #fff;
	color: black;
	transition: 0.5s;
}

.btn-zoom {
	left: 30%;
}
.btn-move {
	left: 50%;
}
.btn-color {
	left: 70%;
}

.square {
	position: absolute;
	top: 150px;
	width: 100px;
	height: 100px;
	background-color: #fff;
	border-radius: 25px;
	transform: translateX(-50%);
    transition: .5s;
}
.blue {
    left: 30%;

}
.red {
	border: 2px solid red;
	left: 50%;
	background-color: rgb(223, 41, 41);
	box-shadow: 0 0 15px rgb(223, 41, 41);
}
.green {
	border: 2px solid green;
	left: 70%;
	background-color: rgb(18, 207, 18);
	box-shadow: 0 0 15px rgb(18, 207, 18);
}

.btn-zoom:hover ~ .square {
	width: 150px;
	height: 150px;
}
.btn-move:hover ~ .square {
    top: 200px;
}
.btn-color:hover ~ .square {
	border: 2px solid white;
	background-color: black;
	box-shadow: 0 0 15px black;
}
